body {
  margin: 0;
  height: 100vh;
}
h1 {
  color: #192e46;
}
.container {
  height: 100vh !important;
}
.admin-page-container {
  padding: 24px;
  height: 100vh;
  justify-content: center;
  background-color: blue;
}
.schedule-manager-widget {
  height: 500px;
  background-color: green;
}

.scroll-content {
  overflow: scroll;
}

.file-dropper {
  background-color: lightblue;
  flex: 1 1 auto;
}
.col {
  height: 100%;
}
.schedule-card {
}
.table thead {
  background-color: #25b2fd;
}
