body {
  margin: 0;
  height: 100vh;
}
h1,
.header-title {
  color: #0a4877;
}

.admin-page-container {
  padding: 24px;
  justify-content: center;
}
.schedule-manager-widget {
  height: 800px;
  background-color: #0a4877;
}

.scroll-content {
  overflow: scroll;
}
.schedule-upload-container {
  display: flex;
  flex-flow: column;
}

.file-dropper {
  background-color: lightblue;
  border-radius: 4px;
  flex-grow: 1;
}
.col {
  height: 100%;
}
.header-spacing {
  height: 100px;
}
.table thead {
  background-color: #0a4877;
}
li {
  min-width: 420px;
}
