body {
  margin: 0;
  height: 100vh;
}
h1,
a,
.header-title {
  color: #0a4877;
}

table {
  table-layout: fixed;
}

.admin-page-container {
  padding: 24px;
  justify-content: center;
}
.schedule-manager-widget {
  height: 800px;
  background-color: #0a4877;
}

.scroll-content {
  overflow: scroll;
}
.schedule-upload-container {
  display: flex;
  flex-flow: column;
}

.file-dropper {
  background-color: lightblue;
  border-radius: 4px;
  height: 680px;
}
.image-dropper {
  background-color: aquamarine;
  border-radius: 4px;
  height: 90px;
  padding: 15px;
  display: inline-flex;
}
.logo {
  height: 60px;
  width: auto;
  margin: 8px;
}
.schedule-title {
  padding-left: 24px;
  padding-top: 12px;
}
.col {
  height: 100%;
}
.header-spacing {
  height: 100px;
}
.table thead,
.btn-primary {
  background-color: #0a4877;
}
li {
  min-width: 420px;
}
table a {
  text-decoration: underline;
}
.highlight {
  background-color: yellow;
}
